{% extends "algorithm_page.html" %}

{% from '_base_parameters.html' import base_parameters_form %}

{% block algorithm_content %}

    <div class="card">
        <div class="card-header">
            <h2>Configure Isomap Parameters</h2>
        </div>
        <div class="card-body">
            <form method="POST" onsubmit="showLoadingSpinner()">
                
                {{ base_parameters_form(column_options, form_data) }}
                
                <hr>

                <button type="submit" id="run-button" class="btn btn-primary">Run Isomap</button>

                {% if param_error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ param_error }}
                    </div>
                {% endif %}
            </form>

            <div id="loading-spinner" class="spinner hidden"></div>
        </div>
    </div>

    {% include '_results_section.html' %}

    {% if scroll_to_results %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            scrollToElement('results-anchor');
        });
    </script>
    {% endif %}

{% endblock %}