/* app/static/css/base.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff; /* azul */
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
    min-height: 400px;
}

footer {
    background-color: #343a40; /* cinza escuro */
    color: white;
    padding: 20px;
    text-align: center;
}
