{% extends "reduction_base.html" %}

{% block conteudo_algoritmo %}
{% if table_html %}
    <h2>PCA PARAMETERS</h2>
    <form method="POST">
        <input type="hidden" name="form_type" value="params">

        <label for="sample_rate">Sample Rate (%):</label>
        <input type="number" name="sample_rate" min="1" max="100" value="100" required>

        <br><br>

        <label for="target">Target Column:</label>
        <input type="text" name="target" placeholder="price_range" required>

        <br><br>

        <label for="dimension">Dimension:</label>
        <select name="dimension" required>
            <option value="2" selected>2D</option>
            <option value="3">3D</option>
        </select>

        <br><br>

        <label for="plot_type">Image Type:</label>
        <select name="plot_type" required>
            <option value="png" selected>PNG</option>
            <option value="html">HTML</option>
        </select>

        <br><br>

        <label for="scaler">Scaler:</label>
        <select name="scaler" required>
            <option value="none" selected>None</option>
            <option value="standard">StandardScaler</option>
            <option value="minmax">MinMaxScaler</option>
        </select>

        <br><br>

        <button type="submit">Run PCA</button>

    </form>
    
    {% if graph_file %}
        <hr>
        <h2>Generated Graph</h2>
        <img src="{{ url_for('main.results_file_path', filename=graph_file) }}" alt="PCA Graph" width="600">
    {% endif %}

{% endif %}
{% endblock %}
