<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReduzLab - Reduction Page</title>
</head>
<body>
    <h1>REDUCTION PAGE</h1>

    <h2>SEND DATA</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Enviar</button>
    </form>

    {% if message and message_type=="error" %}
        <p style="color: red;">{{ message }}</p>
    {% elif message and message_type=="success" %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    {% if table_html %}
        <h2>DATA PRE-VISUALIZATION</h2>
        {{ table_html|safe }}
    {% endif %}

    <h2>PARAMETERS</h2>
</body>
</html>